*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
   
}

main{
  
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-content: center;
    background-color: aliceblue;
}
.flex{
    display: flex ;
    
    border-radius: 15px;
    margin: auto ;
    height: 60%;
 background-color: whitesmoke;
 overflow: hidden;
   width:80vw;
}
.product-img{
    width: 50%;
    height: 100%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: top;
}

.order{
    width: 50%;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
  
   
}
.product{
font-size:clamp(1em, 0.2em + 1vw, 1.09em);
opacity:0.6 ;
margin-top: auto;
}
h1{
    font-size: clamp(1em, 1.5em, 2em);
    margin: auto;
}

.description{
    margin: auto;
font-size:clamp(1em, 1.2em, 2em);
}

.price{
display: flex;
margin-top:auto;
}
.new-price{
font-size:clamp(0.1em, 2em, 2.5em);
margin:10px;
color:  cadetblue;
}
.old-price{
margin:15px;
}

button{
    margin: auto;
    padding: 5% 25%;
    border-radius: 1em;
    background-color: cadetblue;
    transition: 0.5s;
    border-color: cadetblue;
    color: white;
    font-size: clamp(1.2em, 1.5em, 1.8em);
}
button:hover{
    scale: 110%;  
    cursor:pointer;
}
.attribution{
    font-size: clamp( 1.2em, 1.3em, 1.5em);
}

@media screen and (max-width:650px) {
    .flex{
        margin: auto;
        flex-direction: column;
        height: 85vh;
        width: 90vw;
    }
    .product-img{
        background-image: url(/images/image-product-mobile.jpg);
        width: 100%;
        height: 40%;
    }    
    .order{
       
        width: 90%;
        height: 100%;
    } 
}